<!DOCTYPE html>
<html xmlns:ns="http://www.thymeleaf.org">
<head>
    <title>Create Order</title>
</head>
<body>
<h1>Create New Order</h1>

<form ns:action="@{/orders}" ns:object="${order}" method="post">

    <label>Order Name:</label>
    <input type="text" ns:field="*{orderName}" required /><br/><br/>

    <label>Product name:</label>
    <input type="text" ns:field="*{productName}" required /><br/><br/>

    <label>Quantity:</label>
    <input type="number" ns:field="*{quantity}" required min="1" /><br/><br/>

    <button type="submit">Submit Order</button>
</form>

<hr/>

<h2>Order List</h2>
<table>
    <tr>
        <th>Order Name</th>
        <th>Product</th>
        <th>Quantity</th>
    </tr>
    <tr ns:each="ord : ${orders}">
        <td ns:text="${ord.orderName}"></td>
        <td ns:text="${ord.product}"></td>
        <td ns:text="${ord.quantity}"></td>
    </tr>
</table>
</body>
</html>